<%- model_class = Stock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:product_name) %></th>
      <th><%= model_class.human_attribute_name(:minimum_stock) %></th>
      <th><%= model_class.human_attribute_name(:current_stock) %></th>
    </tr>
  </thead>
  <tbody>
	  <%= form_tag url_for(:action => 'update_current') do %>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.minimum_stock %></td>
        <td><%= text_field_tag "stock[][current_stock]", product.stocks.last.current_stock %></td>
		<%= hidden_field_tag "stock[][product_id]", product.stocks.last.product_id %>
	  </tr>
    	<% end %>
		<%= submit_tag 'save' %>
		<% end %>
  </tbody>
</table>
